<header class="container">

  <form [formGroup]="singPass" class="needs-validation" novalidate>
    <div class="">
      <label for="validationCustom01" class="form-label">Password strength</label>
      <input formControlName="password" (keyup)="checkPass()" type="password" class="form-control"
        id="validationCustom01" value="" required>
    </div>
    <div class="block_line">
      <div class="line" [ngStyle]="{'width': lineWidth+'%','background-color': lineColor}"></div>
    </div>
    <p class="text_warning" *ngIf="text">The length of the password is at least 8 and without spaces</p>
  </form>

</header>